<section class="form-card">
  <h2>Reset password</h2>
  <p *ngIf="email">For <strong>{{ email }}</strong></p>

  <form (ngSubmit)="submit()">
    <div class="form-row">
      <label>Reset code</label>
      <input formControlName="code" />
    </div>

    <div class="form-row">
      <label>New password</label>
      <input type="password" formControlName="newPassword" />
      <small class="helper">Min 6 chars, 1 uppercase, 1 number, 1 symbol</small>
    </div>

    <div *ngIf="error"><small class="error">{{ error }}</small></div>
    <div *ngIf="message"><small class="helper" style="color:green">{{ message }}</small></div>

    <div class="form-row"><button type="submit">Reset Password</button></div>
  </form>
</section>
