<h2>Test Data from .NET Backend</h2>

<!-- Loading State -->
<div *ngIf="loading" class="loading">
  Loading data...
</div>

<!-- Error State -->
<div *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</div>

<!-- Success State -->
<div *ngIf="!loading && !errorMessage">
  <div *ngIf="testData.length > 0; else noData">
    <ul>
      <li *ngFor="let item of testData">
          {{ item.message }}      </li>
    </ul>
  </div>
  <ng-template #noData>
    <p>No data available</p>
  </ng-template>
</div>
